<!--
  Copyright 2014 IBM Corp.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/x-red" data-template-name="google drive upload out">
    <div class="form-row">
        <label for="node-input-google"><i class="fa fa-user"></i> <span data-i18n="drive.label.google"></span></label>
        <input type="text" id="node-input-google">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="drive.label.name"></span></label>
        <input type="text" id="node-input-name">
    </div>
</script>

<script type="text/x-red" data-help-name="google drive upload out">
  <p>Upload a file to <a href="https://drive.google.com">Google Drive</a>.</p>
  <p>The configuration node can specify following settings:
      <ul>
        <li><b>Google</b> - the google drive account</li>
        <li><b>msg.filename</b> - the name of the file to be read and saved onto google drive - e.g. <code>test.jpg</code></li>
        <li><b>msg.filepath</b> - the path of the file to be read - e.g. <code>/home/user/</code></li>
        <li><b>Name</b> - name of the node</li>
      </ul>
  </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('google drive upload out',{
        category: 'Google',
        color:"#C0DEED",
        defaults: {
            google: {type:"google-credentials",required:true},
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "google-drive.png",
        align: "right",
        label: function() {
            return this.name||this._("drive.label.google-drive-upload");
        }
    });
</script>




<script type="text/x-red" data-template-name="google drive list in">
    <div class="form-row">
        <label for="node-input-google"><i class="fa fa-user"></i> <span data-i18n="drive.label.google"></span></label>
        <input type="text" id="node-input-google">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="drive.label.name"></span></label>
        <input type="text" id="node-input-name">
    </div>
</script>

<script type="text/x-red" data-help-name="google drive list in">
  <p>Upload a file to <a href="https://drive.google.com">Google Drive</a>.</p>
  <p>The configuration node can specify following settings:
      <ul>
        <li><b>Google</b> - the google drive account</li>
        <li><b>Name</b> - name of the node</li>
      </ul>
  </p>
  <p>
      Set <code>msg.query</code> to include a filter. Query follows the rules on the <a href="https://developers.google.com/drive/api/v3/search-parameters">Google Api Site</a><br/>
      <b>Example:</b><br />
      <code>msg.query = "name contains 'test.j'"</code>
  </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('google drive list in',{
        category: 'Google',
        color:"#C0DEE0",
        defaults: {
            google: {type:"google-credentials",required:true},
            name: {value: ""},
        },
        inputs:1,
        outputs:1,
        icon: "google-drive.png",
        align: "right",
        label: function() {
            return this.name||this._("drive.label.google-drive-list");
        }
    });
</script>




<script type="text/x-red" data-template-name="google drive delete in">
    <div class="form-row">
        <label for="node-input-google"><i class="fa fa-user"></i> <span data-i18n="drive.label.google"></span></label>
        <input type="text" id="node-input-google">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="drive.label.name"></span></label>
        <input type="text" id="node-input-name">
    </div>
</script>

<script type="text/x-red" data-help-name="google drive delete in">
  <p>Upload a file to <a href="https://drive.google.com">Google Drive</a>.</p>
  <p>The configuration node can specify following settings:
      <ul>
        <li><b>Google</b> - the google drive account</li>
        <li><b>Name</b> - name of the node</li>
      </ul>
  </p>
  <p>
    Set <code>msg.fileid</code> with the fileId to delete.
  </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('google drive delete in',{
        category: 'Google',
        color:"#C0DEE0",
        defaults: {
            google: {type:"google-credentials",required:true},
            name: {value: ""},
        },
        inputs:1,
        outputs:1,
        icon: "google-drive.png",
        align: "right",
        label: function() {
            return this.name||this._("drive.label.google-drive-delete");
        }
    });
</script>